<!DOCTYPE html>
    <html>
        <head>
            <meta charset="utf-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <title></title>
            <meta name="description" content="">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <link rel="stylesheet" href="css/style.css">
            <link  rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        </head>
        <body style="margin: 0;">
            <!-- The sidebar -->
            <div class="sidebar">
                <a class="menu_bar">Menu</a>
                <a class="active" href="/">Home</a>
                <a href="/">Search</a>
            </div>

            <div style="display: flex; padding: 10pt; background-color: var(--sequoia-green); align-items: center; justify-content: center; margin-left: 200px;">
                <div style="text-align: left; font-family: 'SF Pro Display';color: var(--light-gray); font-size: 20pt;">
                    OIKOS GARDEN
                </div>
                <div style="text-align: center; color: var(--light-gray); margin-left: 20%; font-size: 16pt;">
                    Opportunity Details
                </div>
                <div style="text-align: center; color: var(--light-gray); margin-left: 20%; font-size: 16pt;">
                    Austin v
                </div>
                <div style="display: flex; margin-left: 5%; align-items: center; justify-content: center;">
                    <div style="display: flex; border-radius: 50%; width: 50px; height: 50px; background-color: var(--light-gray); overflow: hidden; align-items: center; justify-items: center; justify-content: center;">
                        <img style="height: 50pt; width: 50pt;  align-items: center; justify-items: center;" src="uploads/<%= user_account.profile_pic %>">
                    </div>
                    <div style="text-align: center; color: var(--light-gray); font-size: 16pt; margin-left: 10pt;">
                        SIGN OUT
                    </div>
                </div>
                
            </div>
            
            <div style="display: flex; align-items: center; justify-content: center; padding: 5px 0; border-bottom: solid; border-color: var(--dark-green); margin-left: 200px;">
                <div style="display: flex; align-items: center; justify-content: center;">
                    <embed src="uploads/<%= prop_image %>" width="90pt" height="50pt" style="margin: auto;"/>
                </div>
                <div style="text-align: center; padding-left: 10pt">
                    <span style="font-size: 18pt;"><b>123 Sky St.</b></span><br>
                    Houston, TX 77001
                </div>
                <div style="text-align: center; padding-left: 70pt">
                    <span style="font-size: 18pt;color: var(--green-hills)"><b><%= list_price %></b></span><br>
                    List
                </div>
                <div style="text-align: center; padding-left: 20pt">
                    <span style="font-size: 18pt;"><b><%= cap_rate*100 %>%</b></span><br>
                    Cap Rate
                </div>
                <div style="text-align: center; padding-left: 20pt">
                    <span style="font-size: 18pt;"><b><%= r_value %></b></span><br>
                    R Value
                </div>
                <div style="text-align: center; padding-left: 20pt">
                    <span style="font-size: 18pt;"><b><%= m_value %></b></span><br>
                    M Value
                </div>
            </div>

            <div class="subpage_navbar">
                <a class="active_subpage" href="/">Summary</a>
                <a class="inactive_subpage" href="/">Valuation</a>
                <a class="inactive_subpage" href="/">Comps</a>
                <a class="inactive_subpage" href="/">Financials</a>                
            </div>

            <div style="display: flex; align-items: center; justify-content: center; margin-left: 200px;">
                <div style="display: flex; align-items: center; justify-content: center;">
                    <embed src="uploads/<%= prop_image %>" width="500px" height="350px" style="margin: auto;"/>
                </div>
                <div id="summary_stats">
                    <div style="margin-bottom: 15pt; text-align: center">
                        <b>Summary</b>
                    </div>
                    
                    <table id="summary_table">
                        <tr>
                            <th>Stage</th>
                            <th><%= stage %></th>
                        </tr>
                        <tr>
                            <th>Listing Source</th>
                            <th><%= list_source %></th>
                        </tr>
                        <tr>
                            <th>Listing Type</th>
                            <th><%= list_type %></th>
                        </tr>
                        <tr>
                            <th>Property Type</th>
                            <th><%= prop_type %></th>
                        </tr>
                        <tr>
                            <th>ID (UI)</th>
                            <th><%= id %></th>
                        </tr>
                        <tr>
                            <th>Community</th>
                            <th><%= community %></th>
                        </tr>
                        <tr>
                            <th>Lot Size<br></th>
                            <th><%= lot_size %></th>
                        </tr>
                        <tr>
                            <th>Style</th>
                            <th><%= style %></th>
                        </tr>
                        <tr>
                            <th>Stories</th>
                            <th><%= stories %></th>
                        </tr>
                        <tr>
                            <th>Garage</th>
                            <th><%= garage %></th>
                        </tr>
                        <tr>
                            <th>Basement</th>
                            <th><%= basement %></th>
                        </tr>
                        <tr>
                            <th>School Score</th>
                            <th><%= school_score %></th>
                        </tr>
                        <tr>
                            <th>Near Commercial</th>
                            <th><% if(near_commercial){ %>
                                Yes
                            <% }else{ %>
                                No
                            <% } %></th>
                        </tr>
                        <tr>
                            <th>Flood Zone</th>
                            <th><% if(flood_zone){ %>
                                Yes
                            <% }else{ %>
                                No
                            <% } %></th>
                        </tr>
                        <tr>
                            <th>Private Pool</th>
                            <th><% if(private_pool){ %>
                                Yes
                            <% }else{ %>
                                No
                            <% } %></th>
                        </tr>
                        <tr>
                            <th>County</th>
                            <th><%= county %></th>
                        </tr>
                        <tr>
                            <th>Tax ID</th>
                            <th><%= tax_id %></th>
                        </tr>
                    </table>
                </div>
            </div>
            
            <script src=""></script>
        </body>
    </html>