<!DOCTYPE html>
    <html>
        <head>
            <meta charset="utf-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <title>Valuation</title>
            <meta name="description" content="">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <link rel="stylesheet" href="css/style.css">
            <link  rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
            <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cairo">
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
            <link rel = "stylesheet" href = "http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css"/>
        </head>
        <body style="margin: 0;">
            <!-- The sidebar -->
            <div class="sidebar">
                <div class="menu_bar">Menu</div>
                <a class="active" href="/">Home</a>
                <a href="/">Search</a>
            </div>

            <div style="display: flex; padding: 10pt; background-color: var(--sequoia-green); align-items: center; justify-content: center; margin-left: 200px;">
                <div class="oikos_title">
                    OIKOS GARDEN
                </div>
                <div class="opp_detail_title">
                    Opportunity Details
                </div>
                <div style="text-align: center; color: var(--light-gray); margin-left: 20%; font-size: 16pt;">
                    Austin v
                </div>
                <div style="display: flex; margin-left: 5%; align-items: center; justify-content: center;">
                    <div style="display: flex; border-radius: 50%; width: 50px; height: 50px; background-color: var(--light-gray); overflow: hidden; align-items: center; justify-items: center; justify-content: center;">
                        <img style="height: 50pt; width: 50pt;  align-items: center; justify-items: center;" src="uploads/<%= user_account.profile_pic %>">
                    </div>
                    <div class="sign_out_btn">
                        SIGN OUT
                    </div>
                </div>
                
            </div>
            
            <div style="display: flex; align-items: center; justify-content: center; padding: 5px 0; border-bottom: solid; border-color: var(--dark-green); margin-left: 200px;">
                <div style="display: flex; align-items: center; justify-content: center;">
                    <embed src="uploads/<%= prop_image %>" width="90pt" height="50pt" style="margin: auto;"/>
                </div>
                <div style="text-align: center; padding-left: 10pt">
                    <span style="font-size: 18pt;"><b>123 Sky St.</b></span><br>
                    Houston, TX 77001
                </div>
                <div style="text-align: center; padding-left: 70pt">
                    <span style="font-size: 18pt;color: var(--green-hills)"><b><%= list_price %></b></span><br>
                    List
                </div>
                <div style="text-align: center; padding-left: 20pt">
                    <span style="font-size: 18pt;"><b><%= cap_rate*100 %>%</b></span><br>
                    Cap Rate
                </div>
                <div style="text-align: center; padding-left: 20pt">
                    <span style="font-size: 18pt;"><b><%= r_value %></b></span><br>
                    R Value
                </div>
                <div style="text-align: center; padding-left: 20pt">
                    <span style="font-size: 18pt;"><b><%= m_value %></b></span><br>
                    M Value
                </div>
                <div class="save_btn">
                    SAVE
                </div>
                <div class="visit_btn">
                    VISIT
                </div>
                <div class="reject_btn">
                    REJECT
                </div>
                <div class="offer_btn_val">
                    OFFER
                </div>
            </div>

            <div class="subpage_navbar">
                <a class="inactive_subpage" href="/">Summary</a>
                <a class="active_subpage" href="/valuation">Valuation</a>
                <a class="inactive_subpage" href="/">Comps</a>
                <a class="inactive_subpage" href="/financials">Financials</a>                
            </div>

            <div style="display: flex; align-items: center; justify-content: center; margin-left: 200px; margin-top: 50px">
                <div style="font-weight: bold; margin: 0px 20px;">
                    RENTAL VALUE
                    <div style="background-color: var(--light-gray);
                                padding: 0px 10px;
                                margin-top: 5px;
                                font-weight: bold;
                                text-align: center">
                        <%= rental_value %>
                    </div>
                </div>
                <div style="font-weight: bold; margin: 0px 20px;">
                    OPTIMISTIC
                    <div style="padding: 0px 10px;
                                margin-top: 5px;
                                font-weight: bold;
                                text-align: center">
                        <%= opt_rent %>
                    </div>
                </div>
                <div style="font-weight: bold; margin: 0px 20px; padding: 5px; border-radius: 5px; border: solid 2px; border-color: var(--dark-green)">
                    MODERATE
                    <div style="padding: 0px 10px;
                                margin-top: 5px;
                                font-weight: bold;
                                text-align: center">
                        <%= mod_rent %>
                    </div>
                </div>
                <div style="font-weight: bold; margin: 0px 20px;">
                    CONSERVATIVE
                    <div style="padding: 0px 10px;
                                margin-top: 5px;
                                font-weight: bold;
                                text-align: center">
                        <%= cons_rent %>
                    </div>
                </div>
                <div style="font-weight: bold; margin: 0px 20px;">
                    MARKET VALUE
                    <div style="background-color: var(--light-gray);
                                padding: 0px 10px;
                                margin-top: 5px;
                                font-weight: bold;
                                text-align: center">
                        <%= market_value %>
                    </div>
                </div>
                <div style="font-weight: bold; margin: 0px 20px;">
                    OPTIMISTIC
                    <div style="padding: 0px 10px;
                                margin-top: 5px;
                                font-weight: bold;
                                text-align: center">
                        <%= opt_market %>
                    </div>
                </div>
                <div style="font-weight: bold; margin: 0px 20px;">
                    MODERATE
                    <div style="padding: 0px 10px;
                                margin-top: 5px;
                                font-weight: bold;
                                text-align: center">
                        <%= mod_market %>
                    </div>
                </div>
                <div style="font-weight: bold; margin: 0px 20px;">
                    CONSERVATIVE
                    <div style="padding: 0px 10px;
                                margin-top: 5px;
                                font-weight: bold;
                                text-align: center">
                        <%= cons_market %>
                    </div>
                </div>
            </div>

            <div style="display: flex; align-items: center; justify-content: center; text-align: center; margin-top: 50px; margin-left: 200px;">
                <div class="clickable inactive_map_btn">
                    RENTAL
                </div>
                <div class="clickable" style="margin: 0px 20px; border-bottom: solid 5px; border-color: var(--sequoia-green); font-weight: bold; color: var(--sequoia-green);">
                    MARKET
                </div>
                <div class="clickable inactive_map_btn">
                    INSIGHTS
                </div>
            </div>
            
            <div style="margin-top: 20px; margin-left: 230px; margin-right: 30px; justify-self: center; align-self: center; align-items: center; align-content: center; justify-content: center;">
                <div id="map" style="border: 1px solid var(--sequoia-green); width: 100%; height: 40vh;"></div>
            </div>
            <p id="coordinates" style="display: none;"><%=coords[0]%>, <%=coords[1]%>, <%=coords[2]%></p>

            <script src = "http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>
              <script>
                const ele = document.getElementById("coordinates");
                const coords = ele.innerText.split(",")
                 // Creating map options
                 var mapOptions = {
                    center: [parseFloat(coords[0]), parseFloat(coords[1])],
                    zoom: parseInt(coords[2])
                 }
                 
                 // Creating a map object
                 var map = new L.map('map', mapOptions);
                 
                 // Creating a Layer object
                 var layer = new L.TileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png');
                 
                 // Adding layer to the map
                 map.addLayer(layer);

                 let marker = new L.Marker([parseFloat(coords[0]), parseFloat(coords[1])]);
                 marker.addTo(map);
              </script>
        </body>
    </html>